<?xml version="1.0"?>
<configuration>
<system.webServer>
    <directoryBrowse enabled="false" />
    <rewrite>
        <rules>
            <rule name="rule 1J" stopProcessing="true">
                <match url="^([a-z]+)/(.*)$"  ignoreCase="true" />
                <action type="Rewrite" url="{R:1}/{R:1}Service.php?request={R:2}"  appendQueryString="true" />
            </rule>
            <rule name="rule 2J" stopProcessing="true">
                <match url="^([a-z]+)/(.*)$"  ignoreCase="true" />
                <action type="Rewrite" url="{R:1}/{R:1}Service.php"  appendQueryString="true" />
            </rule>
        </rules>
    </rewrite>
</system.webServer>
</configuration>