<style>
    .highlighted { background: yellow }
    .genug {color:lightgreen}
    .nichtgenug {color:lightcoral}
    .icon-stack {
        position: relative;
    }
    .icon-stack .glyphicon {
        position: absolute;
    }

    .normalfontsize{
        font-size: 100%;
        margin-bottom: 0px;
    }

    .greyback{
        color:darkgrey
    }

    .blackback{
        color: black;
    }
</style>

<!-- Suche -->
<div class="table-responsive Fade" ng-hide="currentTeam.id != null" style="padding-left: 15px;padding-right: 15px">
    <div class="row">

        <!-- Team suche -->
        <div class="col-md-4">
            <div class="input-group" style="width: 100%">
                <span  style="height: 50px;width: 50px" class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                <input style="height: 50px;font-size: 200%" class="form-control" type="text" ng-model="searchTerm" placeholder="ID, Teamname oder Spieler" aria-describedby="basic-addon1">
            </div>
        </div>

        <!-- Filter -->
        <div class="col-md-8" style="margin-top: 10px;padding-left: 0px" >

            <select ng-options="bewerb as bewerb.name for bewerb in bewerbe" style="width: 150px; display: inline" class="form-control" id="bewerb" ng-model="filter.bewerb">
                <option value="">Alle</option>
            </select>

            <label><checkbox style="margin-left: 20px" ng-model="filter.nurBezahlte" ng-change="(filter.nurBezahlte?filter.nurNichtBezahlte = false:1)"/> Bezahlt</label>
            <label><checkbox ng-model="filter.nurNichtBezahlte" ng-change="(filter.nurNichtBezahlte?filter.nurBezahlte = false:1)"/> nicht Bezahlt</label>
            <label><checkbox style="margin-left: 20px" ng-model="filter.anwesend" ng-change="(filter.anwesend?filter.nichtanwesend = false:1)"/> Anwesend</label>
            <label><checkbox ng-model="filter.nichtanwesend" ng-change="(filter.nichtanwesend?filter.anwesend = false:1)"/> nicht Anwesend</label>
        </div>

        <!-- reset -->
        <div>
            <!-- TODO reset filter -->

        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-md-6" style="margin-top: 8px">
            <p class="text-muted" style="font-size: 120%; display: inline">{{results.length }}. Teams gefunden</p>
        </div>

        <!-- Vor Ort bezahlt -->
        <div class="col-md-6">
            <div class="pull-right" style="">
                <label>Vor Ort bezahlt: </label>
                <span>{{bezahltvorort}}€</span>
                <button class="btn" ng-click="updateBezahlungen()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>

    <!-- Teams -->
    <div class="row" style="margin-top: 5px">
        <div class="col-md-12">

            <div style="height:580px;overflow:auto;">
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                    <tr>
                        <th style="width: 5%">ID</th>
                        <th style="width: 13%">Bewerb</th>
                        <th style="width: 15%">Teamname</th>
                        <th style="width: 25%">Spieler</th>
                        <th style="width: 15%">Herkunft</th>
                        <th style="width: 15%">Handy</th>
                        <th style="width: 5%">Status</th>
                        <th style="width: 5%">Notiz</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="team in results = ( teams | filter:search)" ng-dblclick="onDoubleClick(team)">
                        <td ng-bind-html="team.onlineid | highlight:searchTermSmall"></td>
                        <td>{{getBewerbName(team.bewerb_id)}}</td>
                        <td ng-bind-html="team.display['Teamname'] | highlight:searchTermSmall"></td>
                        <td ng-bind-html="team.spieler  | highlight:searchTermSmall"></th>
                        <td>{{team.display['Herkunft']}}</td>
                        <td>{{team.display['Handynummer']}}</td>
                        <td>
                            <span ng-class="{nichtgenug:!team.genugBezahlt}" class="glyphicon glyphicon-euro genug" aria-hidden="true"></span>
                            <span ng-class="{'glyphicon-ok genug':(team.anwesend == 1),'glyphicon-remove nichtgenug':(team.anwesend != 1)}" class="glyphicon glyphicon-ok genug" aria-hidden="true"></span>
                        </td>
                        <td ng-click="showNotiz(team)">
                            <span class="glyphicon glyphicon-align-left greyback" ng-class="{blackback:(team.notiz.length > 0)}" style="cursor: pointer"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Bezahlung eintragen -->

<div class="Fade" ng-show="currentTeam.id != null && editmode == false" style="margin-left: 10%;margin-right: 10%;margin-top: 0px">

    <div class="row" >
        <div class="col-md-6">
            <div class="form-group">
                <h2 style="margin-bottom: 2px">{{currentTeam.display['Teamname']}} <small>#{{currentTeam.onlineid}}</small> </h2>
            </div>

            <div class="form-group">
                <label>SpielerInnen</label>
                <p>{{currentTeam.spieler}}</p>
            </div>

            <div class="form-group">
                <label>Bewerb</label>
                <p>{{getBewerbName(currentTeam.bewerb_id)}}</p>
            </div>

        </div>

        <!-- Nenngeld -->

        <div class="col-md-6">
            <div class="form-group">
                <h2>Nenngeld</h2>
            </div>

            <div class="row">

                <div class="form-group col-md-5" ng-repeat="spieler in currentTeam.ownSpieler">
                    <label>{{spieler.vorname}} {{spieler.nachname}} <i ng-show="isZweiterBewerb(spieler)" class="fa fa-hand-peace-o" title="Zweiter Bewerb des Spielers"></i></label>
                    <p>Nenngeld: {{spieler.nenngeld}}€</p>
                    <p>Kaution: {{spieler.kaution}}€</p>
                </div>

                <div class="form-group col-md-2">
                    <label>Gesamt</label>
                    <p style="font-size: 300%">{{currentTeam.nenngeld_gesamt}}€</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <h2>Zusatzinfos</h2>
            </div>

            <div class="form-group" ng-repeat="info in currentTeam.ownTeaminfo">
                <label>{{info.titel}}</label>
                <p>{{info.wert}}</p>
            </div>


            <div class="form-group">
                <label>Anmeldung</label>
                <p>{{currentTeam.angemeldet | myDateFilter | date: 'dd.MM.yyyy hh:mm'}}</p>
            </div>

            <div class="form-group">
                <p><button ng-click="editmode = true" class="btn">Bearbeiten</button></p>
            </div>
        </div>
        <div class="col-md-6">

            <div class="form-group">
                <h2>Bezahlung</h2>
            </div>

            <div class="row">

                <div class="form-group col-md-4">
                    <label>Eingezahlt</label>
                    <p style="font-size: 300%;margin-bottom: 0px">{{currentTeam.bezahlt_betrag}}€</p>
                </div>

                <div class="form-group col-md-4">
                    <label>Vor Ort</label>
                    <input ng-change="changend = true; currentTeam.anwesend = true; currentTeam.abgemeldet = false" style="height: 50px; width: 100px; font-size: 200%; margin-top: 5px" string-to-number class="form-control" type="number" ng-model="currentTeam.bezahlt_vorort">
                </div>

                <div class="form-group col-md-4" ng-class="{genug:genugBezahlt(currentTeam),nichtgenug:!genugBezahlt(currentTeam)}">
                    <label>Gesamt</label>
                    <p style="font-size: 300%;margin-bottom: 0px;">
                        {{getBezahltGesamt(currentTeam)}}€
                        <!-- <span ng-if="genugBezahlt(currentTeam)" class="glyphicon glyphicon-ok" aria-hidden="true"></span>-->
                    </p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Notizen</label>
                        <textarea ng-change="changend = true" style="width: 100%" ng-model="currentTeam.notiz" class="form-control" rows="6"></textarea>
                    </div>
                </div>
            </div>

            <div class="row" style="height: 100%">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            <checkbox ng-click="changend = true; currentTeam.abgemeldet = !currentTeam.anwesend " style="margin-bottom: 5px;" ng-true-value="1" ng-false-value="0" ng-model="currentTeam.anwesend"/> Anwesend
                        </label>
                        <label style="margin-left: 5px">
                            <checkbox ng-click="changend = true; currentTeam.anwesend = !currentTeam.abgemeldet" style="margin-bottom: 5px;" ng-true-value="1" ng-false-value="0" ng-model="currentTeam.abgemeldet"/> Abgemeldet
                        </label>
                    </div>
                </div>

                <div class="col-md-6">
                    <p class="text-right">
                        <button ng-click="resetCurrentTeam()" class="btn btn-danger">Abbrechen</button>
                        <button ng-click="store(currentTeam)" ng-disabled="!changedCurrentTeam()" class="btn btn-success" style="margin-left: 5px">Speichern</button>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Team bearbeiten -->
<div class="Fade" ng-show="currentTeam.id != null && editmode == true" style="margin-left: 10%;margin-right: 10%;margin-top: 0px">

    <div class="row" >
        <div class="col-md-6">

            <div class="form-group">
                <h3>Bewerb</h3>
                <select class="form-control" style="width: 250px" ng-options="item as item.name for item in bewerbe track by item.id" ng-model="currentTeam.bewerb"></select>
            </div>

            <div ng-repeat="spieler in currentTeam.ownSpieler" style="margin-top: 35px">

                <div class="form-inline">
                    <h3>{{$index + 1}}. Spieler</h3>

                    <div class="form-group">
                        <label>Vorname</label>
                        <p><input style="width: 200px" class="form-control" ng-model="spieler.vorname"></p>
                    </div>

                    <div class="form-group" style="margin-left: 20px">
                        <label>Nachname</label>
                        <p><input style="width: 200px" class="form-control" ng-model="spieler.nachname"></p>
                    </div>

                </div>

                <div class="form-inline">

                    <div class="form-group">
                        <label>Nenngeld</label>
                        <p><input style="width: 200px;" class="form-control" ng-model="spieler.nenngeld"></p>
                    </div>

                    <div class="form-group" style="margin-left: 20px">
                        <label>Kaution</label>
                        <p><input style="width: 200px;" class="form-control" ng-model="spieler.kaution"></p>
                    </div>

                    <div class="form-group" ng-repeat="info in spieler.ownSpielerinfo" ng-class="{marginleft20:$index%2==1}">
                        <label>{{info.titel}}</label>
                        <p><input style="width: 200px;" class="form-control" ng-model="info.wert"></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <h3>Zusatzinfos</h3>
            </div>

            <div class="form-group" ng-repeat="info in currentTeam.ownTeaminfo">
                <label>{{info.titel}}</label>
                <p><input style="width: 250px;" class="form-control" ng-model="info.wert"></p>
            </div>

            <div class="row">

                <div class="form-group col-md-4">
                    <label>Eingezahlt</label>
                    <input string-to-number class="form-control" type="number" ng-model="currentTeam.bezahlt_betrag">
                </div>

                <div class="form-group col-md-4">
                    <label>Vor Ort</label>
                    <input string-to-number class="form-control" type="number" ng-model="currentTeam.bezahlt_vorort">
                </div>

                <div class="form-group col-md-4" ng-class="{genug:genugBezahlt(currentTeam),nichtgenug:!genugBezahlt(currentTeam)}">
                    <label>Gesamt</label>
                    <p style="font-size: 170%;">
                        {{getBezahltGesamt(currentTeam)}}€
                    </p>
                </div>

            </div>

            <div class="form-group">
                <label>Notizen</label>
                <textarea style="width: 100%" ng-model="currentTeam.notiz" class="form-control" rows="6"></textarea>
            </div>

            <div class="row" style="height: 100%">
                <div class="col-md-7">
                    <div class="form-group">
                        <label>
                            <checkbox ng-click="currentTeam.abgemeldet = !currentTeam.anwesend " style="margin-bottom: 5px;" ng-true-value="1" ng-false-value="0" ng-model="currentTeam.anwesend"/> Anwesend
                        </label>
                        <label style="margin-left: 5px">
                            <checkbox ng-click="currentTeam.anwesend = !currentTeam.abgemeldet" style="margin-bottom: 5px;" ng-true-value="1" ng-false-value="0" ng-model="currentTeam.abgemeldet"/> Abgemeldet
                        </label>
                    </div>
                </div>

                <div class="col-md-5">
                    <p class="text-right">
                        <button ng-click="resetCurrentTeam()" class="btn btn-danger">Abbrechen</button>
                        <button ng-click="store(currentTeam)" class="btn btn-success" style="margin-left: 5px">Speichern</button>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>